# Node
node_modules/
npm-debug.log
yarn-error.log

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# Environment Variables
.env
*.env

# MacOS
.DS_Store

# IDEs
.idea/
.vscode/

# Build
build/
dist/
coverage/
